<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  <link href="test_files/Style.css" rel="stylesheet">
  <link href="test_files/Default.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css">
  <link rel="stylesheet" href="test_files/fullcalendar.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.print.css" media="print">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf647bc9ca.js" crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="Resource/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="Resource/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="Resource/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="Resource/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <div class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i></h3>
                </div>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        
                        <h6 class="mb-0">서버관리자</h6>
                        <span>Administrator</span>
                    </div>
                </div>

                <div class="navbar-nav w-100">
                     <a href="/" class="nav-item nav-link"><i class="fa-solid fa-house"></i>&nbsp&nbsp메인화면</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a id="bb" href="#" class="dropdown-item">DB리스트</a>
                        </div>
                    </div>
                   <!-- <a id="bb" href="#" class="nav-item nav-link"> <i class="fa fa-chart-bar me-2"> </i>Db List</a> 
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Page Test</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="#" class="dropdown-item">Sign In</a>
                            <a href="#" class="dropdown-item">Sign Up</a>
                            <a href="#" class="dropdown-item">404 Error</a>
                            <a href="#" class="dropdown-item">Blank Page</a> 
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>

                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-download"></i>
                            <span class="d-none d-lg-inline-flex">&nbsp&nbsp구버전연동</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Dowmload</h6>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">사용자관리</h6>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">이미지관리</h6>
                            </a>
                        </div>
                    </div>
                    <!--
                    <div class="nav-item dropdown"> ** 상단우측 LKY프로필+메뉴 **
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">LKY</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div> -->
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4 bg-9999">
                <div class="row vh-100 bg-999 rounded justify-content-center mx-0">
                    <div id="abcd" class="col-md-6 text-center">
                    </div>
                </div>
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Resource/chart/chart.min.js"></script>
    <script src="Resource/easing/easing.min.js"></script>
    <script src="Resource/waypoints/waypoints.min.js"></script>
    <script src="Resource/owlcarousel/owl.carousel.min.js"></script>
    <script src="Resource/tempusdominus/js/moment.min.js"></script>
    <script src="Resource/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="Resource/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
  <script src="test_files/jquery"></script>

  <script src="test_files/bootstrap"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js"></script>
    

    <!-- Template Javascript -->
    <script src="Resource/js/main.js"></script>

</body>

<script>
 $(document).ready(function(){
      $('.bg-999').css('background-color', '#fff');
      $('#abcd').fullCalendar('renderEvent', event);
      $('#abcd').fullCalendar({
        header:
        {
          left: 'prev,next',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        //buttonText: {
        //  today: '오늘',
        //  month: '월',
        //  week: '주',
        //  day: '일'
        //},

        events: function (start, end, timezone, callback) {
          var date = $("#abcd").fullCalendar('getDate');
          var url = '/API/GetCalendarData/1' + '?year=' + date.year() + '&month=' + date.month();
          $.ajax({
            url: url,
            type: "GET",
            dataType: "JSON",

            success: function (result) {
              console.log(result);
              var monthTotalPrice = result["monthTotalPrice"];
              var monthTotal = result["monthTotal"];
              document.getElementById('monthTotal').innerText = monthTotalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원 / " + monthTotal;
              var listX = result['data'];
              var events = [];

              $.each(listX, function (i, data) {
                events.push(
                  {
                    title: data.Title + "\r\n" + data.Desc + "원",
                    description: data.Desc + "원",
                    start: moment(data.Start_Date).format('YYYY-MM-DD'),
                    end: moment(data.End_Date).format('YYYY-MM-DD'),
                    //backgroundColor: "#9501fc",
                    //borderColor: "#fc0101"
                  });
              });

              callback(events);
            },
            //error: function (result) {
            //  console.log(result);
            //  alert(result);
            //}
          });
        },

        eventRender: function (event, element) {
          //element.qtip(
          //  {
          //    content: event.description
          //  });
        },

        editable: false
      });
    });
  </script>
</html>