<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>이미지 조회 사이트</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<link rel="shortcut icon" type="image/x-icon" href="http://photoplus.kr/resources/images/common/icon_favicon.png">
	    <link type="text/css" rel="stylesheet" href="./이미지 조회 사이트_files/jquery-ui.css">
		<script type="text/javascript" src="./이미지 조회 사이트_files/jquery-1.11.2.min.js.다운로드"></script>
		<script type="text/javascript" src="./이미지 조회 사이트_files/jquery-ui.js.다운로드"></script>
		<script type="text/javascript" src="./이미지 조회 사이트_files/jquery-accordion-menu.js.다운로드"></script>
		<script type="text/javascript" src="./이미지 조회 사이트_files/jquery.blockUI.js.다운로드"></script>
		<script type="text/javascript" src="./이미지 조회 사이트_files/common.js.다운로드" charset="UTF-8"></script>
		


	
	
	    <link type="text/css" rel="stylesheet" href="./이미지 조회 사이트_files/common.css">
	    <link type="text/css" rel="stylesheet" href="./이미지 조회 사이트_files/page.css">
	<style>
.centered-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>


	</head>
	<body>
	

	
	
		<div id="main" style="height: 932px;">
			<section id="section" style="height: 932px;">
				<div id="container" class="" style="height: 902px;">
					<div class="cont-inner">					
						<div class="fl-box panel-wrap01" style="width: 100%; height: 902px;">
							<div class="panel-body" style="height: 902px;">
								<div style="padding-bottom:1%; text-align:center;">
								<!--
									<img src="/resources/images/common/icon_logo.png" alt="logo"/>
									-->
									<img src="http://photoplus.kr/main/index.do" alt="">
								</div>
								
						<!---------------------------------------------------------------------------------------------------------------------------------------------
 * 인덱스 수정중..
 ---------------------------------------------------------------------------------------------------------------------------------------------->




<script type="text/javascript">
	$(document).ready(function(){
		var searchFlag = 'N';

		if(searchFlag == "Y") {
			var resultMsg = '';
			
			alert(resultMsg);
			
			location.href= "#";
		}
	});
	
	$(function(){
		//검색
		$('#searchBtn').on('click', function(){
			var phoneNo = $("#PHONE_NO").val();
			console.log(phoneNo);
			if(phoneNo != "") {
				fn_submit("searchForm" ,"/main/search.do");
			} else {
				alert("번호를 입력 후, 검색 버튼을 클릭 해주세요.\nAfter entering the number, click the Search button.");
				return;
			}
		});
	});
	
	function fn_enterkey() {
		if(window.event.keyCode == 13) {			
			fn_search();
		}
	}
</script>
<style>
  .korean-text {
    font-size: 15px; /* 크게 표시할 폰트 크기 */
  }

  @media screen and (max-width: 500px) {
    /* 모바일 화면 크기에 대한 스타일 조정 */
    .tb-wrap, .tb-st, .inp-wrap {
      width: 100%;
    }
    .searchtable {
      width: 100%;
    }
  }
</style>

<form class="centered-element" name="searchForm" id="searchForm" method="post" style="
">
	<div class="tb-wrap" style="border-top:none;margin-top:10px;">
		<table class="tb-st" style="border-bottom:none;">
			<colgroup>
				<col width="30.7%"> <!-- 전체 좌측 여백 -->
				<col width="10%"> <!-- 검색창 왼쪽 크기 -->
				<col width="*%"> <!-- 검색창 크기 -->
				<col width="30%"> <!-- 안내문구 -->
			</colgroup>
			<tbody>
				<tr>
					<td style="border-bottom:none;">
					</td>
					<th scope="row" style="border-bottom:1px solid #e8defc;background-color: #F5B2BC;padding: 10px -10px;font-size: 12.5px;color: #FFFFFF;/* border-radius: 0; */">
						<strong>Number</strong>
					</th>
					<td style="/* border-bottom:1px solid #e8defc; */">
						<div class="inp-wrap" style="width:100%">						
							<input type="text" class="inp-comm" id="PHONE_NO" name="PHONE_NO" value="" maxlength="11" oninput="checkInputValue()" onkeydown="fn_enterkey()" placeholder="숫자만 입력.Enter numbers only">
						</div>
					</td>
					<td style="border-bottom:none;">
					</td>					
				</tr>
				<tr>
					<td style="border-bottom:none;">
					</td>
					<th scope="row" colspan="2" style="background:#ffffff; border-bottom:1px solid #d8d8d8; text-align:center; font-weight: bold;font-size: 12px;">
						입력하신 번호를 입력해 주세요.<br>Please enter the number you entered.
						<br>
						<br>사진은 2일 후 삭제됩니다.<br>Photos are deleted after 2 days.PC
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div style="margin-top: 15px; text-align: center;">
	    <a href="/Next" class="btn comm st02" id="searchBtn" style="background-color: #F5B2BC; color: #FFFFFF; border-radius: 10px; padding: 5px 10px; font-size: 15px; font-weight: bold; display: inline-block; line-height: 1; onclick()">Search</a>
	</div>
</form>


							</div>
						</div>
					</div>
				</div>
			</section>
		</div>	
</body>
<script>
  var inputValue;
  document.addEventListener("keydown", function(e) {
  if (e.key === "F9") {
    alert("개발페이지로 이동합니다.")
    window.location.href = '/React';
  }
});
  document.getElementById('searchBtn').addEventListener('click',()=>{
  localStorage.setItem('test',inputValue);
  SendRequest();
   });

function SendRequest() {
    fetch('/submit_Num', { 
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        value1 : localStorage.getItem('test'),
      })
    })
      .then(response => {
        if (response.ok) {
          //alert('response ok!')
          console.log('요청 성공');
        } else {
          console.log('요청 실패');
        }
      })
      .catch(error => {
        console.log('요청 실패');
      });
  }
</script>

    <script>
        function checkInputValue() {
            // Get the input element by its ID
            var inputElement = document.getElementById("PHONE_NO");

            // Get the value of the input element
            inputValue = inputElement.value;
          
            console.log(inputValue);
        }
    </script>


</html>
